doctype html
html(lang='es')
  head
    title GameCenterControl
    meta(charset='utf-8')
    script.
      if (typeof module === 'object') {window.module = module; module = undefined;}
    script(src='./js/jquery-3.2.1.min.js')
    script.
      if (window.module) module = window.module;
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/socket.io.slim.js')
    script(defer src='./js/fontawesome-all.min.js')
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel="shortcut icon" href="./clock-icon.png")
  body(style='background-color:transparent')
    block contenido
